body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
    
}
nav li a{
    text-decoration: none;
}
nav h3 {
    font-size: 45px;
}
nav h3 .rrrr{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    padding: 12px;
    border-radius: 10px;
}
header{
    background-color: #FFF8F3;
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-size: 75px;
}
header .ttl{
    display: flex;
    align-items: center;
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
    background-image: url(images/header_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 550px;
}
header .img{
    height: 400px;
}
header .ttl p{
    width: 600px;
}
.content  h3{
    margin: 3px;
}
.content h1{
    margin: 0;
    font-size: 75px;
}
.content p{
    font-size: 12px;
    margin: 3px 0px;
}
.content button{
    margin-top: 8px;
    margin-left: 9px;
}

/* ..................section style..... */
.about{
    margin: 70px 0px;
    padding: 100px;
    background-color: #FFF8F3;
    text-align: center;
}
main{
    max-width: 1100px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
 .about-inf{
    text-align: center;
}
.about-inf h4 {
    margin: 0;
}